* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: #1f1e1a;
}
nav {
  width: 100%;
  height: 85px;
  background-color: #2e2d29;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: inherit;
  width: auto;
}
.links {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  height: inherit;
  width: 100%;
  margin-right: 50px;
}
.links a {
  text-decoration: none;
  color: white;
}
.logo img {
  width: 135px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  height: auto;
  font-size: xx-large;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.home-navigation-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 700px;
  height: 600px;
}
.home-navigation-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 70px;
  background: #4e5c38;
  font-size: xx-large;
  border-radius: 43px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home-navigation-link {
  text-decoration: none;
  color: white;
}
.search-bar-wrapper {
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 70px;
  background-color: #2e2d29;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.search-bar input {
  background-color: #f2f2f0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  appearance: textfield;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 160px;
  height: 45px;
}
.search-bar button {
  margin-left: 20px;
  background: #4e5c38;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 160px;
  height: 45px;
  border: none;
  outline: none;
  font-size: larger;
  cursor: pointer;
  color: white;
}
.booked-flights-container {
  gap: 20px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  max-width: 1400px;
  height: auto;
  flex-wrap: wrap;
}
.booked-flight {
  width: 350px;
  height: 250px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.flights-flight-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 58%;
}
.booked-flight-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 46%;
}
.booked-flight-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 50%;
}
.booked-flight-info {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: larger;
  margin: 5px;
  width: 100px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #2e2d29;
  border-radius: 20px;
}
.btn {
  background: #4e5c38;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 160px;
  height: 45px;
  border: none;
  outline: none;
  font-size: larger;
  cursor: pointer;
  color: white;
}
.cancel-flight {
  margin-bottom: 5px;
  background-color: #2e2d29;
}
.create-flight {
  margin-top: 20px;
  width: 250px;
  height: 70px;
  font-size: xx-large;
}
.manage-flight-info {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: larger;
  margin: 5px auto;
  width: 90%;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #2e2d29;
  border-radius: 20px;
}
.manage-flight-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 50%;
}
.edit-flight {
  background-color: #2e2d29;
  margin-bottom: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.delete-flight {
  margin-bottom: 5px;
  background-color: #a61e1e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.overlay {
  background-color: rebeccapurple;
}
#add-flight-modal,
#edit-flight-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  height: 700px;
  background: #fff;
  background-color: #1f1e1a;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

#add-flight-modal::backdrop,
#edit-flight-modal::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-top {
  margin-top: 40px;
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
}
.modal-middle {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
}
.modal-lower-middle {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
}
.modal-bottom {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.modal-bottom textarea {
  border: none;
  resize: none;
  outline: none;
  width: 600px;
  height: 200px;
  background: #d9d9d9;
}
.modal-bottom-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
#add-flight-modal input[type="file"],
#edit-flight-modal input[type="file"] {
  visibility: hidden;
}
#add-flight-modal input[type="date"],
#edit-flight-modal input[type="date"] {
  text-align: center;
  border-radius: 10px;
  width: 200px;
  height: 35px;
  background-color: #d9d9d9;
  border: none;
  outline: none;
}
#add-flight-modal input[type="text"],
#edit-flight-modal input[type="text"] {
  text-align: center;
  border-radius: 10px;
  width: 200px;
  height: 35px;
  background-color: #d9d9d9;
  border: none;
  outline: none;
}
#add-flight-modal label,
#edit-flight-modal label,
h1 {
  color: white;
}
.modal-image {
  padding: 12px;
  border-radius: 10px;
  color: black;
  background-color: #d9d9d9;
}

#add-flight-modal .modal-image {
  color: black;
}
.login-form {
  margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 450px;
  height: 400px;
  background-color: #4e5c38;
  border-radius: 15px;
}
